main {
  grid-area: content;
  padding: 0 0 20px 0;
  background: whitesmoke;
}

.card {
  background: #fff;
  border-bottom: solid 1px #ccc;
  padding: 12px 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .right {
    display: flex;
    align-items: center;

    *:not(:last-child) {
      margin-right: 10px;
    }
  }

  img {
    height: 15px;
    cursor: pointer;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 20px;
  align-items: center;
  padding: 18px 20px;

  &.heading {
    position: sticky;
    top: 121px;
    background: #fff;

    &:hover {
      background: #fff;
    }
  }

  p {
    font-size: 12px;
  }

  &:not(:last-child) {
    border-bottom: solid 1px #ccc;
  }

  &:hover {
    background: #eaeaea;
    cursor: pointer;
  }
}

.large {
  width: 350px!important;
}

.small {
  width: max-content!important;
}

.mid {
  width: 200px!important;
}