aside {
  grid-area: s;
  border-right: 1px solid #eaeaea;
  position: fixed;
  height: 100vh;
  width: 250px;

  &.shrink {
    width: 70px;

    .brand {
      padding: 15px 20px;
    }

    li {
      div {
        width: 70px;
        padding: 15px 0!important;
        display: grid!important;
        grid-template-columns: 1fr!important;
        place-items: center!important;

        img {
          margin-right: 0!important;
        }

        .nolist {
          display: none;
        }
      }
    }
  }

    .brand {
      padding: 15px 40px;
      display: flex;
      align-items: center;

      img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
      }

      h1 {
        font-size: 24px;
        font-weight: 200;
      }
    }

    .links {
      margin-top: 18px;
      cursor: pointer;
      list-style: none;

      .nolist {
        display: none;
      }

      .link {
        &:hover {
          background: lighten(#ccc, 10%);
        }

        &.active {
          .nolist {
            display: block;

            > li {
              padding: 15px 80px;
              font-size: 14px;
              display: flex;
              position: relative;

              p {
                width: 100%;
              }
            }

            li:hover {
              background: lighten(#ccc, 5%);

              > .sub-menu {
                display: block;
                transition: all 1s ease;
              }
            }
          }


          &:hover {
            background: #fff;
          }

          div {
            background: rgb(128,123,227);
            color: #fff;

            img {
              filter: invert(1);
            }
          }
        }
      }

      > li {
        position: relative;

        &:hover {
          > .sub-menu {
            display: block;
          }
        }

        div {
          padding: 15px 20px 15px 40px;
          font-size: 14px;
          display: grid;
          grid-template-columns: 20px 1fr 20px;
          grid-gap: 20px;
          align-items: center;

          img {
            height: 15px;
            margin-right: 20px;
          }

          & a {
            color: #fff;
            text-decoration: none;
            font-weight: 100;
            font-size: 14px;
        }
      }

    }
  }
}

.sub-menu {
  position: absolute;
  min-width: 100%;
  background: #fff;
  left: 250px;
  top: 0;
  list-style: none;
  display: none;
  border: solid 1px #ccc;

  > li {
    padding: 10px 20px;
    width: 100%;
    white-space: nowrap;

    > strong {
      font-size: 13px;
      font-weight: normal;
    }

    > p {
      font-size: 12px;
      color: lighten(#000, 65%);
      margin-top: 5px;;
    }

    &:hover {
      background: whitesmoke!important;
    }

    &:not(:last-child) {
      border-bottom: solid 1px #ccc;
    }
  }
}