header {
  grid-area: nav;
  display: grid;
  border-bottom: 1px solid #eaeaea;
  align-items: center;
  padding: 0 20px;
  position: sticky!important;
  top: 0!important;
  background: #fff;
  z-index: 3;

  nav {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 50px 1fr max-content;

    .icon {
      height: 18px;
      cursor: pointer;
    }

    .search-input {
      width: 100%;
      display: flex;
      align-items: center;

      img {
        margin-right: -30px;
        height: 15px;
        z-index: 2;
      }

      .search {
        width: inherit!important;
        background: #f0f0f0;
        border: none;
        border-radius: 70px;
        padding: 6px 20px 6px 40px;
        font-size: 15px;
        outline: none;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-left: 10px;
      }
    }
  }
}